@define-color Surface0 #313244;
@define-color Surface1 #45475a;
@define-color Base     #1e1e2e;
@define-color Mantle   #181825;
@define-color Lavender #b4befe;
@define-color Text     #cdd6f4;

* {
	padding: 0px;
	margin: 0px;
	outline-color: @Lavender;
	color: @Text;
	border-color: white;
	font-size: 16px;
	/*@Base; */
	/* border-bottom-color: @Base; */
}

window, notebook, headerbar {
	background: @Base;
}

tabs {
	background-color: @Base;
	padding: 3px;
	outline-color: white;
	border-color: @Base; 
}

tab {
	background-color: @Base;
	margin: 2px 5px 2px 0px;
	padding: 5px;
	border-style: solid;
	/*border-color: white;
	border-bottom-color: white;
	outline-color: white;
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px; */
}

entry {
	background-color: @Surface0;
	padding-left: 10px;
}

entry:focus {
	background-color: @Surface0;
	padding-left: 10px;

}
